/* Основные стили */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #e2e8f0;
  }
  
  /* Стили для эффекта Matrix Rain */
  .matrix-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  /* Дополнительные стили для кнопок и эффектов */
  button {
    transition: transform 0.3s ease;
  }
  